body {
    font: 18px/1.8 Lato;
    background-color: #42413C;
}

.navbar-brand {
    width: 100%;
    text-decoration: underline;
    background-color: rgba(255, 255, 255, 0.80);
    font-size: 16px;
}

.navbar-header > .navbar-brand:hover {
    background-color: #666;
    color: white;
    text-decoration: underline;
}

a:link,
a:visited {
    color: #0B486B;
}

h1,
h2, {
    font-family: 'Karla';
}

#main {
    padding-left: 0px;
    padding-right: 0px;
    width: 100%;
    max-width: 960px;
    margin: auto;
    align-content: center;
    background-image: url("images/symphony.jpg");
}

#mid,
#right {
    background-color: white;
}

footer {
    padding: 10px 0;
    background-color: #42413C;
    clear: both;
    text-align: center;
    color: white;
}

div img {
    width: 100%;
}

#gmap_canvas {
   display: block;
   width: 100%;
   height: 400px;
}

.block {
    display: inline-block;
    position: relative;
}

.circle {
    background: #26C6DE;
    border-radius: 200px;
	min-width: 150px;
    width: 100%;
    padding-top: 40%;
    padding-bottom: 60%;
    height:0px;
    font-size: 16px;
    color: white;
    font-size-adjust:auto;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: row;
}

.no_pad {
  padding:0;
  margin:0;
}